<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/home">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Filtro de Producto</span>
  <span class="spacerNavBar"></span>
</mat-toolbar>

<mat-card>
  <mat-card-header> </mat-card-header>
  <mat-card-content>
    <div fxLayout="row">
      <mat-form-field>
        <input
          matInput
          (keyup)="getDataFilter($event.target.value)"
          placeholder="Buscar..."
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions style="text-align: right">
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="dialogGM()"
    >
      <mat-icon>add</mat-icon>
      <span>Grabar</span>
    </button>
  </mat-card-actions>
</mat-card>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripcion</th>
      <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
    </ng-container>

    <ng-container matColumnDef="fechaSaldo">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fechaSaldo | date: "dd/MM/yyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="categoriaProducto">
      <th mat-header-cell *matHeaderCellDef>Categoria</th>
      <td mat-cell *matCellDef="let element">
        {{ element.categoriaProducto.descripcion }}
      </td>
    </ng-container>

    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef>Marca</th>
      <td mat-cell *matCellDef="let element">
        {{ element.marca.descripcion }}
      </td>
    </ng-container>

    <ng-container matColumnDef="perecedero">
      <th mat-header-cell *matHeaderCellDef>Perecedero</th>
      <td mat-cell *matCellDef="let element">
        {{ element.perecedero ? "&#10003;" : "&#10005;" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="valorUnidad">
      <th mat-header-cell *matHeaderCellDef>Valor Uni.</th>
      <td mat-cell *matCellDef="let element">{{ element.valorUnidad }}</td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef>Valor</th>
      <td mat-cell *matCellDef="let element">{{ element.valor }}</td>
    </ng-container>

    <ng-container matColumnDef="saldo">
      <th mat-header-cell *matHeaderCellDef>Saldo</th>
      <td mat-cell *matCellDef="let element">{{ element.saldo }}</td>
    </ng-container>

    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <td mat-cell *matCellDef="let element">
        <button
          type="button"
          mat-icon-button
          color="primary"
          (click)="dialogGM(element)"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          type="button"
          mat-icon-button
          color="warn"
          (click)="eliminar(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20, 50, 100]"
    [pageSize]="5"
    [showFirstLastButtons]="true"
  ></mat-paginator>
</div>
