  <mat-toolbar color="primary">
    <button mat-icon-button  (click)="sidenav.toggle()" >
     
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">arrow_back</mat-icon>
    </button>
    <span>Libreria</span>
    <span class="spacerNavBar"></span>

    <button mat-icon-button (click)="logout()" >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  


<mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav  opened>
            <!--mode="side"-->
            
            <a>Opciones</a>
           <button mat-menu-item routerLink="/" >
              <span>Ventas</span><mat-icon  style="float: right;">chevron_right</mat-icon>
          </button> 
       
          <button mat-button routerLink="/" >
                    <span>Compras</span>
                    <mat-icon style="float: right;">chevron_right</mat-icon>
          </button> 

          <button mat-button routerLink="/" >
                     Cierre De Caja
                    <mat-icon style="float: right;">chevron_right</mat-icon>
          </button> 

  
           <a>Maestros</a>
          <button mat-button routerLink="/bodega" >
                    Bodegas <mat-icon style="float: right;">chevron_right</mat-icon>
          </button> 
          <button mat-button routerLink="/" >
                    Clientes <mat-icon style="float: right;">chevron_right</mat-icon>
          </button> 
          <button mat-button routerLink="/" >
                    Proveedor <mat-icon style="float: right;">chevron_right</mat-icon>
          </button> 

        <a>Configuracion</a>
         <button mat-button (click)="logout()" >
                    Cerrar Sesion <mat-icon style="float: right;">chevron_right</mat-icon>
          </button> 


      </mat-sidenav>

      <mat-sidenav-content>
            <div class="main_content">
                  
                <div class="drawer-sidenav-content">
                  <button type="button" mat-button (click)="buscarBogedas()">
                    Buscar Bodegas ejemplo
                  </button>
                </div>
            </div>
      </mat-sidenav-content>
</mat-sidenav-container>



<!--
<mat-drawer-container class="drawer-container" autosize>

  <mat-drawer #drawer class="drawer-sidenav" mode="side">

   <a>Maestros</a>
    <button mat-menu-item routerLink="/bodega" >
              Bodegas <mat-icon>chevron_right</mat-icon>
    </button> 

     <a>Opciones</a>
    <button mat-menu-item [matMenuTriggerFor]="maestros">Maestros</button>
    <mat-menu #maestros="matMenu">
      <button mat-menu-item>Baikal oilfish</button>
      <button mat-menu-item>Bala shark</button>
      <button mat-menu-item>Ballan wrasse</button>
      <button mat-menu-item>Bamboo shark</button>
      <button mat-menu-item>Banded killifish</button>
    </mat-menu>

    <a>Configuracion</a> 
     <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
              Cerrar Sesion
    </button> 

  </mat-drawer>


  <div class="drawer-sidenav-content">
    <button type="button" mat-button (click)="buscarBogedas()">
      Buscar Bodegas ejemplo
    </button>
  </div>

</mat-drawer-container>


<mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav  opened>
            <button mat-menu-item routerLink="/" >
                  <mat-icon>home</mat-icon>
                  Inicio
            </button>

            <button mat-menu-item routerLink="/persona" >
                  <mat-icon>supervised_user_circle</mat-icon>
                  Demo persona
            </button>

            <button mat-menu-item routerLink="/about" >
                  <mat-icon>info</mat-icon>
                  Quienes somos
            </button>
      </mat-sidenav>

      <mat-sidenav-content>
           <mat-card>Simple card</mat-card>
      </mat-sidenav-content>
</mat-sidenav-container>
-->

 



 