.spacerNavBar {
    flex: 1 1 auto;
  }

  .drawer-container {
    width: auto;
    height: 90%;
  }
  
  .drawer-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .drawer-sidenav {
    padding: 20px;
  }


  mat-sidenav {
    width: 200px;
  }
  .main_content {
    width:100%; 
    height: calc(100vh - 100px); 
    box-sizing: border-box; 
  }


  .full-width {
    width: 100%;
  }

  .full-img {
    width: 100%;
    height: auto;
  }

  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    
  }

  .mat-icon {
    margin-right: 8px;
  }
  
 mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}


  
  